* {
    font-family: 'Poppins';
    cursor: url('./assets/this_is_my_own_cursor.png'), auto !important;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E6ECF8;
    margin: 0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

nav {
    padding-left: 5rem;
    padding-right: 5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo_text {
    color: #6E07F3;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 0;
    transition: all 300ms ease-in-out;
}

#logo_text:hover {
    color: #111;
    transition: all 300ms ease-in-out;
}


.active {
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
}

#hello {
    border: solid 3px #6E07F3;
    border-radius: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 300ms ease-in-out;
}

#hello:hover{
    background-color: #6E07F3;
    color: #fff;
    transition: all 300ms ease-in-out;
}

#Mentorship {
    color: #111;
    transition: all 300ms ease-in-out;
}

#Mentorship:hover {
    color:#6E07F3;
    transition: ease-in-out 300ms;
}

.my_title {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 20rem;
}

#title_text {
    font-size: 70px;
    color: #111;
}

.purple {
    background: #6E07F3;
    color: #fff;
    text-align: center;
    padding-bottom: 15rem;
}

.skills {
    margin-top: -18rem;
}

.skill_container {
    justify-content: space-between;
    background:#ffffff ;
    border-radius: 20px;
    border: #c3c1c1 1px solid;
    width: 80vw;
}

.column {
    align-items: center;
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.column > i {
    padding: 3rem;
    color:#6E07F3;
}

.row::after {
    content: "";;
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#purple_text {
    color: #6E07F3;
}

.skill_list {
    display: flex;
    list-style: none;
    text-align: center !important;
    justify-content: space-between;
    flex-direction: column;
}

.links {
    margin-top: -5rem;
    margin-bottom: -15rem;
}

.list_links {
    justify-content: space-between;
}

.redirect_links {
    margin-left: 2rem;
    margin-right: 2rem;
}


.redirect_links:hover {
    color: #111;
}

.grid_container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_container > * {
    padding: 1rem;
}

.box > img {
    display: block;
    width: 373.5px;
    border-radius: 5%;
    transition: .2s ease-in-out;
}

.box > img:hover {
    width: 400px;
    transition: .2s ease-in-out;
}


.image_names > img {
    min-width: 200px;
    width: 250px;
    border-radius: 5%;
}


.CTA {
    margin-bottom: -15rem;
    padding-bottom: 0;
}

.cta_container {
    justify-content: space-between;
    background-color: #141c3a;
    border-radius: 20px;
    width:80vw;
    color: #E6ECF8;
    height: 10vw;
}

.cta_column {
    align-items: center;
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.cta_btn {
    color: #E6ECF8;
    text-decoration: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    margin-top: 0;
    margin-bottom: 0;
    border: #6E07F3 solid 2px;
    transition: .2s ease-in-out;
}

.cta_btn:hover {
    background-color: #6E07F3;
    transition: .2s ease-in-out;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6E07F3;
    color: #E6ECF8 !important;
    text-align: center;
    padding-bottom: 0;
}

#footer_logo {
    font-size: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #E6ECF8 !important;
    text-decoration: none !important;
    transition: .2s;
}

#footer_logo:hover {
    color: #141c3a !important;
    transition: .2s;
}

.footer_links {
    color: #E6ECF8;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: .2s ease-in-out;
}

.footer_links:hover {
    color: #111;
    transition: .2s ease-in-out;
}

@media screen and (max-width: 600px) {
    nav {
        padding-left: 0;
        padding-right: 0;
        font-size: 10px;
    }
    .my_title  {
        align-items: center!important;
        text-align: center!important;
        justify-content: center!important;
        margin-top: 0%;
    }
    #title_text {
        margin-left: 50%;
        margin-right: 50%;
        font-size: 45px;
        width: 100%;
    }
    .my_title > #description{
        margin-top: 5rem;
        margin-left: 50%;
        margin-right: 50%;
        margin-bottom: 0;
        width: 100%;
    }
    .my_title {
        width: 200px;
    }
    .list_links {
        margin-top: -6.5rem;
        display: flex;
        flex-direction: column;
    }
    .work {
        display: none;
    }
    .collaborations {
        display: none;
    }
}
